/* demo.css */

#demo {
    width: 500px;
}

.socially-wrap {
    position: relative;
    overflow:hidden;
    width: 100%;
}

.socially {
    position: absolute;
    bottom: -100px;
    right: 0;
    /* display: none;
    width: 100%;
    background:#000000;
    background:rgba(0,0,0,.5);*/
}

